.number-check-box-container {
}

.number-checkbox-input {
    width:21px;
    text-align: right;
    outline: none;
    caret-color: transparent;
}

.number-checkbox::-webkit-inner-spin-button,
.number-checkbox::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
