.number-check-box-container {
}

.number-checkbox-input {
    width: 21px;
    height: 21px;
    box-sizing:border-box; /* without it element somewhat have additional size (h+=7.2px, w=5.2px) 0_о */
    text-align: right;
    outline: none;
    caret-color: transparent;
}

.number-checkbox::-webkit-inner-spin-button,
.number-checkbox::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
