input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    height: 21px;
    width: 21px;
    border: 0;
    vertical-align: middle;
}

.vertical-arrange {
    display:flex;
    flex-direction: column;
}

.horizontal-arrange {
    display:flex;
    flex-direction: row;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.default-input-wrapper {
    width: 0;
    height: 0;
    overflow: hidden;
}
