.number-check-box-container {
}

.number-checkbox {
    width:22px;
    text-align: right;
}

.number-checkbox::-webkit-inner-spin-button,
.number-checkbox::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
