.fieldwise-search-btn {
    background-image: url('../../images/fieldwise-search-icon.png');
    margin-right: 4px;
}

.fieldwise-search-menu {
    background: white;
    border-radius: 2px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fieldwise-search-input {
    width: 160px;
}

.fieldwise-search-input::-webkit-inner-spin-button,
.fieldwise-search-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
