.ordering-btn {
    background-image: url('../../images/ordering-icon.png');
    background-size: 100% 100% ;
}

.ordering-menu {
    background: white;
    border-radius: 2px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.un-ordering-btn {
    background-image: url('../../images/un-ordering-icon.png');
    background-size: 100% 100% ;
}

.ok-ordering-btn {
    background-image: url('../../images/ok-ordering-icon.png');
    background-size: 100% 100% ;
}

.order-direction-btn {
    background-image: url('../../images/up-ordering-icon.png');
    background-size: 100% 100% ;
}
