.anti-search-btn {
    background-image: url('../../images/anti-search-icon.png');
    margin-right: 4px;
}

.search-btn {
    background-image: url('../../images/search-icon.png');
    margin-right: 2px;
}

.search-bar{
    width: 95%;
    margin-right: 1%;
}

.search-input {
    font-size: 15px;
    height: 36px;
    background-color: transparent;
    border: 0;
    outline: none;
    width: 85%;
}

.search-input::-webkit-inner-spin-button,
.search-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
